In [25]:
from mysql.connector import connect
import os 
from dotenv import find_dotenv,load_dotenv
import pandas as pd
import warnings

# suppress the connection warning regarding switching to sqlalchemy
warnings.filterwarnings('ignore')

load_dotenv(find_dotenv())
PASSWORD = os.getenv("PASSWORD")

db = connect(host= "localhost", user= "root", password = PASSWORD, database="movie_rating")

df = pd.read_sql_query("SELECT * FROM reviewers", db)
df

    id first_name     last_name
0    1  Chaitanya        Baweja
1    2       Mary        Cooper
2    3       John         Wayne
3    4     Thomas      Stoneman
4    5      Penny    Hofstadter
5    6   Mitchell         Marsh
6    7      Wyatt        Skaggs
7    8      Andre         Veiga
8    9    Sheldon        Cooper
9   10     Kimbra       Masters
10  11        Kat      Dennings
11  12      Bruce         Wayne
12  13    Domingo        Cortes
13  14     Rajesh  Koothrappali
14  15        Ben       Glocker
15  16   Mahinder         Dhoni
16  17      Akbar          Khan
17  18     Howard      Wolowitz
18  19     Pinkie         Petit
19  20   Gurkaran         Singh
20  21        Amy        Cooper
21  22     Marlon      Crafford
22  23  Chaitanya        Baweja
23  24       Mary        Cooper
24  25       John         Wayne
25  26     Thomas      Stoneman
26  27      Penny    Hofstadter
27  28   Mitchell         Marsh
28  29      Wyatt        Skaggs
29  30      Andre         Veiga
30  31    Sheldon        Cooper
31  32     Kimbra       Masters
32  33        Kat      Dennings
33  34      Bruce         Wayne
34  35    Domingo        Cortes
35  36     Rajesh  Koothrappali
36  37        Ben       Glocker
37  38   Mahinder         Dhoni
38  39      Akbar          Khan
39  40     Howard      Wolowitz
40  41     Pinkie         Petit
41  42   Gurkaran         Singh
42  43        Amy        Cooper
43  44     Marlon      Crafford